*{
    margin: 0;
    border: border-box;
    font-family: Arial;
}
.nav{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.border{
    border: 2px solid transparent;
}
.nav-logo
{
    height: 50px;
    width: 100px;
}
.logo
{
    background-image: url("images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border:hover{
    padding: 4px;
    border: 1px solid white;
}
#box-first
{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
#box-second
{
    font-size: 1rem;
    font-weight: bold;
    
}
.nav-search
{
    height: 40px;
    width: 720px;
    text-align: center;
    display: flex;
    background-color: #0f1111;
    border-radius: 5px;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-left: 20px;
}

#department
{
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.nav-search-logo
{

    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    font-size: 1.2rem;
}
.nav-search:hover
{
    border: 2px solid aqua;
}
.first
{
    font-size: 0.7rem;
    color: #cccccc;
}
.second
{
    font-size: 0.8rem;
    font-weight: bold;
}
.second select{
background-color: #0f1111;
border: none;
color: gray;
}
.cart i
{
    font-size: 1.85rem;

}
.cart{
    font-size: 0.8rem;
    font-weight: bold;
}
.second-nav{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.menu
{
    font-size: 1rem;
    font-weight: bold;
    color: #cccccc;
    align-items: center;
}
.option
{
    height: 30px;
    width: 95%;
    color: #ffffff;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  
}
.option p{
    margin-left: 15px;
    
}
.hero-section
{
    background-image: url("images/hero1.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-content 
{
    height: 40px;
    width: 95%;
    font-size: 0.85rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 25px;
    display: flex;
    color: black;
    
}
.shop-content
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(250, 233, 236);
}
.box
{
    height: 400px;
    width: 23%;
    border: 1px solid black;
    background-color: white;
   margin-bottom: 20px;
    
}
.box p
{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}
.box img{
    height: 270px;
    width: 78%;
    margin: 10%;
}
.box a{
    margin-left: 30px;
    text-decoration: none;
}
.box2
{
    
   /* height: 270px;
    width: 78%;*/
    border: 1px solid black;
   /* margin: 10%;*/
   
    display: flex;
    flex-wrap: wrap;
}
.box2 img{
    height: 25%;
    width: 30%;
}
/*.box2 a{
    text-decoration: none;
    font-size: 10px;
}*/
.foot1
{
    height: 150px;
}
.foot2
{
    height: 50px;
   
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot2 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.foot3{
    height: 300px;
    background-color: #222f3d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.foot-get
{
    height: 200px;
    width: 25%;
   
    
}
ul{
    margin-top: 50px;
}
.foot-get  p{
    color: white;
    font-weight: bold;
    margin: 5px;
    margin-left: 0px;
    
}
.foot-get ul a{
    text-decoration: none;
    display: block;
    color: #DDDDDD;
    font-weight: normal;
    font-size: 0.85rem;
    
}
.foot-down{
    height: 70px;
    border-top: 0.5px solid white;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1
{
    background-image: url("images/amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}